@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 38px;
  font-weight: bold;
}

h2 {
  color: #A0A0A0;
  font-weight: normal;
}

.container {
  max-width: 700px;
  margin: 50px auto;
}

.bgd-img div {
  max-width: 700px;
  margin: 50px auto;
}

.bgd-img {
  background-image: url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  color: white;
  padding: 120px 0;
}

.bgd-img p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

.green-link {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
}

.green-link:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

@media(max-width: 1200px) {
  .container, .bgd-img div {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media(max-width: 992px) {
  .container, .bgd-img div {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media(max-width: 768px) {
  .container, .bgd-img div {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media(max-width: 576px) {
  .container, .bgd-img div {
    padding-left: 25px;
    padding-right: 25px;
  }
}
